


body{
  background-color: orange;
    min-width: 320px;
    background-image: url("../image/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-size: cover;
  
}
h2{
   
  text-align: center;
  line-height: 600px;
}
h3{
  font-size: 50px;

}
*{
  font-family: sans-serif;

}


.Mintro{
width: 100%;
height: 100%;
background-image: url("../image/background.jpg");

}

.title{
color: white;
width: 100%;
height: 600px;
margin: 0 auto;
align-content: center;
}

.form{
width: 200px;
height: 700px;
margin-left: auto;
margin-right: auto;
}
.header{
  border-radius: 5px;
  width: 200px;
  height: 50px;
  background-color:  #f26700 ;
  font-family: sans-serif;
  color: white;
  text-align: center;
  padding: 10px;
}
#form-group{
  line-height: 50px;
}

#conter{
height: 100vh;
}


#conter section{
    height: 100vh;
    }


#conter section:nth-child(1){
  background-color: rgba(0,0,0,0.8);

    }

#conter section:nth-child(2){
    background: #ffffff;
    }
    #conter section:nth-child(3){
        background: #f00;
        }
        #conter section:nth-child(4){
            background: #f00;
            }

           